<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>激活账户</title>
		<link rel="stylesheet" href="__INDEX__css/lesson/reset.css" />
		<link rel="stylesheet" href="__INDEX__css/iconfont.css" />
		<link rel="stylesheet" href="__INDEX__css/lesson/basic.css" />
		<link rel="stylesheet" href="__INDEX__css/lesson/style.css" />
		<link rel="stylesheet" type="text/css" href="__INDEX__css/public.css"/>
		<script src="__INDEX__js/jquery-1.10.2.min.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div class="wrap" id="pay">
			<!-- 头部 -->
			<div class="header">
				<div class="inner clearfix">
				{include file='search'}
					<!--搜索框-->
			
					{include file="haslogged"}
				</div>
				<div style="clear: both;"></div>
			</div>
			
			<div class="container">
				<div class="inner mt20">
					<h3>订单信息</h3>

					<!-- 支付方式 -->
					<div class="pay_method">
						<div class="orderId">
							<span style="color:red">{$user_money.cause}</span><br>
							<span>订单号：</span><span class="order_code">{$user_money.order_number}</span>
						</div>
						<div class="allCount">
							本次应支付：<span>{$user_money.money}</span>元
						</div>
						<div class="method">
							<p>请选择支付方式</p>
							<div class="">

								{if condition="$user_money.pay_alipay_config.is_open_alipay === '0'"}
								<a href="{:url('index/Pay/new_alipay_pay_url')}&order_code={$user_money.order_number}&token={$token}&transaction_type=1&level={$user_money.level}"  id="alipay">
									<img src="__INDEX__picture/zhi.jpg" >
								</a>
								{/if}

								{if condition="$user_money.pay_wechat_config.is_open_wechat === '0'"}
								<a href="javascript:" class="wechat" id="wechat">
									<img src="__INDEX__picture/wechat.png" >
								</a>
								{/if}
							</div>
						</div>
					</div>
				</div>
			<input type="hidden" class="token" value="{$token}">
			<input type="hidden" name="" class="transaction_type" value="1">
			<input type="hidden" name="" class="level" value="{$user_money.level}">
			</div>
			
			<!-- footer -->
			{include file="footer"}
			
			<!-- 微信支付二维码 -->
			
			<div class="wx_qr">
				<div class="wrap">
					<img src="__INDEX__picture/error.png" class="cha" >
					<div class="content">
						<span>微信扫一扫付款</span>
						<span>￥{$user_money.money}</span>
						<img id="wechat_code" src="/public/static/index/images/load.gif" >
						<p>请在20分钟内完成支付</p>
					</div>
				</div>
			</div>

		</div>
		
		<script src="__INDEX__js/jquery-1.10.2.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="__INDEX__js/mine.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
