<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>{$cateName.typename}</title>
		<link rel="stylesheet" type="text/css" href="__MOBILE__css/style.css"/>
	</head>
	<body>
		<div class="wrap">
			<!-- 头部 -->
			<header class="head">
				<a href="javascript:" class="back" onclick="history.go(-1)"><img src="__MOBILE__img/icon-return.png" ></a>
				<h3>{$cateName.typename}</h3>
			</header>
			<!-- 内容区 -->
			<div class="container">
				<div class="cont">
					<ul>
						{volist name="$FreeCourse" id="f"}

						<li>
							<a href="/mcourse_show?id={$f.aid}" class="see" role="button" data-id="6972">
							<img class="lazy" src="{$f.litpic}" height="100" class="img-responsive" alt="" />
								<h5>{$f.title}</h5>
									<div class="info">
										<p><span>{$f.click}</span>人在学</p>
										<p><a href="mcourse_show?id={$f.aid}">立即观看</a></p>
									</div>
							</a>
						</li>
						{/volist}
					</ul>
					<div class="none_data" style="text-align: center;font-size: 12px;display: none">没有更多了</div>
				</div>
				
			</div>
			
			<!-- footer -->
			<footer>
				<ul>
					{include file="footer"}
				</ul>
			</footer>
		</div>
		
		<script src="__MOBILE__js/jquery-1.10.2.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="__MOBILE__js/public.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			let isLoad = false, page = 1;
			let timer;
			
			$(".wrap").scroll(function(){
				if($(this)[0].scrollTop + $(this).height() >= $(this)[0].scrollHeight){
					// console.log(page);
					// clearTimeout(timer)
					// timer = setTimeout(()=>{
						page++
						loadData(page);
					// },1000)
				}
			})
			// 异步加载数据
			function loadData(page){
				var id = '{$id}';
				let html = ''
				$.post('{:url("mobile/MFreeCourse/page_list")}',{page:page,id:id},function(data){
					$.each(data,function(item,val){
						html += `<li>
							<a href="mcourse_show?id=`+val.aid+`" class="see" role="button" data-id="6972">
								<img class="lazy" src="`+val.litpic+`" class="img-responsive" alt="" />
								<h5>`+val.title+`</h5>
								<div class="info">
									<p><span>`+val.click+`</span>人在学</p>
									<p><a href="mcourse_show?id=`+val.aid+`">免费观看</a></p>
								</div>
							</a>
						</li>`
					})

					$(".cont ul").append(html);
					if(data.length < 10){
						$('.none_data').css('display','block');
					}
					
				})

				
			}
		</script>
	</body>
</html>
