{include file="public/layout" /}
<link rel="stylesheet" type="text/css" href="__PUBLIC__/plugins/webuploader/webuploader.css">
<script type="text/javascript" src="__PUBLIC__/plugins/laydate/laydate.js"></script>

{load href="__PUBLIC__/plugins/Ueditor/ueditor.config.js" /}
{load href="__PUBLIC__/plugins/Ueditor/ueditor.all.min.js" /}
{load href="__PUBLIC__/plugins/Ueditor/lang/zh-cn/zh-cn.js" /}

<body style="background-color: #FFF; overflow: auto;min-width:auto;">
<div id="toolTipLayer" style="position: absolute; z-index: 9999; display: none; visibility: visible; left: 95px; top: 573px;"></div>
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page" style="min-width:auto;">
    <div class="fixed-bar">
        <div class="item-title"><a class="back" href="javascript:history.back();" title="返回列表"><i class="fa fa-arrow-circle-o-left"></i></a>
            <div class="subject">
                <h3>新增章节</h3>
                <h5></h5>
            </div>
            <ul class="tab-base nc-row">
                <li><a href="javascript:void(0);" data-index='1' class="tab current"><span>常规选项</span></a></li>
            </ul>
        </div>
    </div>
    <form class="form-horizontal" id="post_form" action="{:url('Download/edit_chapter')}" method="post">
        <!-- 常规信息 -->

        <div class="ncap-form-default tab_div_1">
            
            <dl class="row">
                <dt class="tit">
                    <label for="title"><em>*</em>所属课程</label>
                </dt>
                <dd class="opt">  
                    <select name="cou_id" id="cou_id">
                        <option value="{$title.aid}">{$title.title}</option>
                    </select>
                    <span class="err"></span>
                    <p class="notic"></p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="title"><em>*</em>章节名称</label>
                </dt>
                <dd class="opt">
                    <input type="text" name="title" value="{$chapter.title}" id="title" class="input-txt" maxlength="100">
                    <span class="err"></span>
                    <p class="notic"></p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="title">排序</label>
                </dt>
                <dd class="opt">
                    <input type="text" name="order" value="{$chapter.order}" id="order" class="input-txt" maxlength="100">
                    <span class="err"></span>
                    <p class="notic"></p>
                </dd>
            </dl>
            {include file="field/addonextitem" /}
        </div>


        <div class="ncap-form-default">
            <div class="bot">
                <input type="hidden" name="id" value="{$chapter.id}">
                <a href="JavaScript:void(0);" onclick="check_submit();" class="ncap-btn-big ncap-btn-green" id="submitBtn">确认提交</a>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript" src="__PUBLIC__/plugins/webuploader/webuploader.min.js"></script>
<script type="text/javascript">
    var uploader_swf = '__PUBLIC__/plugins/webuploader/Uploader.swf';
    var server_url   = "{:url('Ueditor/NewDownloadUploadFile',array('savepath'=>'soft'))}";
</script>
<script src="__SKIN__/js/getting-started.js"></script>

<script type="text/javascript">
    // 远程/本地上传文件切换
    function ClickRemoteFile(obj)
    {   
        if ($(obj).is(':checked')) {
            $('#ClickRemoteFile').show();
            $('#TemplateSet').show();
        } else {
            $('#ClickRemoteFile').hide();
            $('#TemplateSet').hide();
        }
    }

    // 远程地址参数设置
    function TemplateSet(th){
        var url = $(th).attr('data-url');
        //iframe窗
        layer.open({
            type: 2,
            title: '参数设置',
            fixed: true, //不固定
            shadeClose: false,
            shade: 0.3,
            maxmin: true, //开启最大化最小化按钮
            area: ['40%', '60%'],
            content: url
        });
    }

    // 获取模板属性数据
    function GetTemplateAddr(num = 1){
        $.ajax({
            url: "{:url('Download/get_template')}",
            data: {num:num},
            type:'post',
            dataType:'json',
            success: function(res){
                // 拼装模板属性并追加
                AddTemplateAddr(num,res.data);
            },
        });
    }

    // 删除对应的文件及文件信息
    function DeleteFile(obj){
        $(obj).parent().parent().remove();
    }

    // 拼装模板属性并追加
    function AddTemplateAddr(num = 1,data = ''){
        // 获取指定div数量
        var SerialNum = $('#Template div').length;
        // 初始化数组
        var html_div = [];
        // 拼装html
        if (num > 1) {
            for (var i = 0; i < num; i++) {                            
                SerialNum++;
                html_div += 
                [
                    '<div class="template_div">'+
                        '远程地址'+SerialNum+'：<input type="text" name="remote_file[]" value="" placeholder="http://" style="width: 50%;"> '
                ];

                if (data) {
                    for (var j = 0; j < data.length; j++) {
                        html_div += 
                        [
                            '<span class="ey_'+data[j]['field_name']+'"> '+
                                '<span class="title_'+data[j]['field_name']+'"> '+data[j]['field_title']+'</span>：<input type="text" name="'+data[j]['field_name']+'[]" style="width: 7%;">'+
                            '</span>'
                        ];
                    }
                }
                
                html_div += 
                [
                    '</div>'
                ];
            }
        }else{
            SerialNum++;
            html_div += 
            [
                '<div class="template_div">'+
                    '远程地址'+SerialNum+'：<input type="text" name="remote_file[]" value="" placeholder="http://" style="width: 50%;">'
            ];
            
            if (data) {
                for (var j = 0; j < data.length; j++) {
                    html_div += 
                    [
                        '<span class="ey_'+data[j]['field_name']+'">'+
                            '<span class="title_'+data[j]['field_name']+'"> '+data[j]['field_title']+'</span>：<input type="text" name="'+data[j]['field_name']+'[]" style="width: 7%;">'+
                        '</span>'
                    ];
                }
            }

            html_div += 
            [
                '</div>'
            ];
        }

        // 追加html
        $('#Template').append(html_div);
    }

    // 文件上传JS
    layui.use('upload', function(){
        var $ = layui.jquery,upload = layui.upload;

        // 多文件列表示例
        var demoListView = $('#demoList'),uploadListIns = upload.render({
            elem: '#buttonList',
            url: server_url,
            accept: 'file',
            multiple: true,
            auto: false,
            bindAction: '#buttonListAction',
            choose: function(obj){

                var files = obj.pushFile();
                var file = $(".layui-upload-file")[0].files[0];
   
                var uploadObj = new SegmentUpload();
            
                var tr = $(
                [
                    '<tr id="upload-'+ file.lastModified +'">',
                        '<td>'+ file.name +'</td>',
                        '<td>'+ (file.size/1024/1024).toFixed(1) +' MB</td>',
                        '<td class="progress'+ file.lastModified+'">等待上传</td>',
                        '<td>',
                            // '<span class="layui-btn layui-btn-xs demo-reload layui-hide">重传</span>',
                            '<span class="layui-btn layui-btn-xs layui-btn-danger demo-delete">移除</span>',
                        '</td>',
                    '</tr>'
                ].join(''));
            
                    // 移除
                    tr.find('.demo-delete').on('click', function(){
                        // 移除对应的文件
                        //delete files[index];
                        tr.remove();
                        // 清空 input file 值，以免移除后出现同名文件不可选
                        uploadListIns.config.elem.next()[0].value = '';
                        clearTimeout(t);
                    });
                    demoListView.append(tr);

                  // var fileDom = document.getElementById("file");
                  // fileDom.onchange = function(){
                    uploadObj.addFileAndSend(file);
                  // };
                  function SegmentUpload() {
                    const length = 1024*1024*5; // 文件包大小
                    const requestUrl = server_url;
                    const requestType = 'POST'; // 请求方式
                    var request = new XMLHttpRequest();
                    var start = 0; // 截取下标开始位置
                    var end = length; // 截取下标结束位置
                    var nowPackage=''; // 文件包
                    var nowPackageNum = 1; // 当前包数
                    var totalPackageNum = 0; // 总共包数
                    var file = null;
                    this.addFileAndSend = function(that){
                      file = that;
                      totalPackageNum = Math.ceil(file.size / length);
                      blob = cutFile();
                      sendFile(blob);
                      nowPackageNum += 1;
                    };
                    cutFile = function (){
                      nowPackage = file.slice(start, end);
                      start = end;
                      end = start + length;
                    };
                    sendFile = function (){
                      var formData = new FormData();
                      formData.append('file',nowPackage);
                      formData.append('blob_num',nowPackageNum);
                      formData.append('total_blob_num',totalPackageNum);
                      formData.append('file_name',file.name);
                      formData.append('type',file.type);
                        
                      request.open(requestType, requestUrl, false);
                      request.onreadystatechange = function (data) {

                        if(request.readyState == 4 && request.status == 200) {
                            var progress;
                            if(nowPackageNum == totalPackageNum){
                              progress = '上传成功';
                              var returnArr = JSON.parse(request.response );
                            if(returnArr['code'] == 1){
                                     var res = returnArr;
                                     var html = '';
                                        html += '<input type="hidden" name="fileupload[file_url][]" value="'+res.file_url+'">';
                                        html += '<input type="hidden" name="fileupload[file_mime][]" value="'+res.file_mime+'">';
                                        html += '<input type="hidden" name="fileupload[file_name][]" value="'+res.file_name+'">';
                                        html += '<input type="hidden" name="fileupload[file_ext][]" value="'+res.file_ext+'">';
                                        html += '<input type="hidden" name="fileupload[file_size][]" value="'+res.file_size+'">';
                                        html += '<input type="hidden" name="fileupload[uhash][]" value="'+res.uhash+'">';
                                        html += '<input type="hidden" name="fileupload[md5file][]" value="'+res.md5file+'">';

                                        var tr = demoListView.find('tr#upload-'+ file.lastModified),
                                        tds = tr.children();
                                        tds.eq(0).html(res.file_name);
                                        tds.eq(2).html('<span style="color: #5FB878;">'+res.msg+'</span>');
                                        tds.eq(3).html('<span class="layui-btn layui-btn-xs layui-btn-danger" onclick="DeleteFile(this);">移除</span>'+html);
                                        
                              }

                            }else{
                              progress = (Math.min(100,(nowPackageNum/totalPackageNum)* 100 )).toFixed(2) +'%';
                            }

                            $('.progress'+file.lastModified).text(progress);
                            
                        }
                           

                      };

                      t = setTimeout(function(){
                          if(start < file.size){
                            blob = cutFile(file);
                            sendFile(nowPackage,file);
                            nowPackageNum += 1;
                          }else{
                              //setTimeout(t);
                          }
                        },2000);
                      request.send(formData);

                    }
                  }

    
                 

                // 将每次选择的文件追加到文件队列
                // var files = this.files = obj.pushFile();
                // console.log(files);
               
                // // 读取本地文件
                // obj.preview(function(index, file, result){
                //     var tr = $(
                //     [
                //         '<tr id="upload-'+ index +'">',
                //             '<td>'+ file.name +'</td>',
                //             '<td>'+ (file.size/1024).toFixed(1) +' KB</td>',
                //             '<td>等待上传</td>',
                //             '<td>',
                //                 // '<span class="layui-btn layui-btn-xs demo-reload layui-hide">重传</span>',
                //                 '<span class="layui-btn layui-btn-xs layui-btn-danger demo-delete">移除</span>',
                //             '</td>',
                //         '</tr>'
                //     ].join(''));
                
                //     // 单个重传
                //     tr.find('.demo-reload').on('click', function(){
                //         obj.upload(index, file);
                //     });
                    
                //     // 移除
                //     tr.find('.demo-delete').on('click', function(){
                //         // 移除对应的文件
                //         delete files[index];
                //         tr.remove();
                //         // 清空 input file 值，以免移除后出现同名文件不可选
                //         uploadListIns.config.elem.next()[0].value = '';
                //     });
                //     demoListView.append(tr);
                // });
            },
            done: function(res, index, upload){
                if(res.code == 0){
                    // 上传成功
                    // 上传成功
                    var html = '';
                    html += '<input type="hidden" name="fileupload[file_url][]" value="'+res.file_url+'">';
                    html += '<input type="hidden" name="fileupload[file_mime][]" value="'+res.file_mime+'">';
                    html += '<input type="hidden" name="fileupload[file_name][]" value="'+res.file_name+'">';
                    html += '<input type="hidden" name="fileupload[file_ext][]" value="'+res.file_ext+'">';
                    html += '<input type="hidden" name="fileupload[file_size][]" value="'+res.file_size+'">';
                    html += '<input type="hidden" name="fileupload[uhash][]" value="'+res.uhash+'">';
                    html += '<input type="hidden" name="fileupload[md5file][]" value="'+res.md5file+'">';

                    var tr = demoListView.find('tr#upload-'+ index),
                    tds = tr.children();
                    tds.eq(0).html(res.file_name);
                    tds.eq(2).html('<span style="color: #5FB878;">'+res.msg+'</span>');
                    tds.eq(3).html('<span class="layui-btn layui-btn-xs layui-btn-danger" onclick="DeleteFile(this);">移除</span>'+html);

                    //清空操作
                    return delete this.files[index];// 移除文件队列已经上传成功的文件
                }
                this.error(res, index, upload);
            },
            error: function(res, index, upload){
                var tr = demoListView.find('tr#upload-'+ index),
                tds = tr.children();
                tds.eq(2).html('<span style="color: #FF5722;">'+res.msg+'</span>');
            }
        });
    });
</script>

<script type="text/javascript">
    $(function () {
        $('#add_time').layDate();   
     
        //选项卡切换列表
        $('.tab-base').find('.tab').click(function(){
            $('.tab-base').find('.tab').each(function(){
                $(this).removeClass('current');
            });
            $(this).addClass('current');
            var tab_index = $(this).data('index');          
            $(".tab_div_1, .tab_div_2, .tab_div_3").hide();          
            $(".tab_div_"+tab_index).show();
        });

        $('input[name=is_jump]').click(function(){
            if ($(this).is(':checked')) {
                $('.dl_jump').show();
            } else {
                $('.dl_jump').hide();
            }
        });

        var dftypeid = {$typeid|default='0'};
        $('#typeid').change(function(){
            var current_channel = $(this).find('option:selected').data('current_channel');
            if (0 < $(this).val() && {$channeltype} != current_channel) {
                showErrorMsg('请选择对应模型的栏目！');
                $(this).val(dftypeid);
            } else if ({$channeltype} == current_channel) {
                layer.closeAll();
            }
        });
    });

    function set_author()
    {
        layer.prompt({
                title:'<font color="red">设置作者默认名称</font>'
            },
            function(val, index){
                var admin_id = '{$Think.session.admin_info.admin_id}';
                $.ajax({
                    url: "{:url('Admin/ajax_setfield')}",
                    type: 'POST',
                    dataType: 'JSON',
                    data: {id_name:'admin_id',id_value:admin_id,field:'pen_name',value:val},
                    success: function(res){
                        if (res.code == 1) {
                            $('#author').val(val);
                            layer.msg(res.msg, {icon: 1, time:1000});
                        } else {
                            showErrorMsg(res.msg);
                            return false;
                        }
                    },
                    error: function(e){
                        showErrorMsg(ey_unknown_error);
                        return false;
                    }
                });
                layer.close(index);
            }
        );
    }

    function tags_list(obj)
    {
        var url = "{:url('Tags/index')}";
        //iframe窗
        layer.open({
            type: 2,
            title: 'TAG标签管理',
            fixed: true, //不固定
            shadeClose: false,
            shade: 0.3,
            maxmin: true, //开启最大化最小化按钮
            area: ['80%', '80%'],
            content: url
        });
    }

    function system_thumb()
    {
        var url = "{:url('System/thumb', ['tabase'=>-1])}";
        //iframe窗
        var iframes = layer.open({
            type: 2,
            title: '缩略图配置',
            fixed: true, //不固定
            shadeClose: false,
            shade: 0.3,
            content: url
        });
        layer.full(iframes);
    }

    // 判断输入框是否为空
    function check_submit(){
        if($.trim($('input[name=title]').val()) == ''){
            showErrorMsg('标题不能为空！');
            $('input[name=title]').focus();
            return false;
        }
        if ($('#id').val() == 0) {
            showErrorMsg('请选择栏目…！');
            $('#id').focus();
            return false;
        }
        layer_loading('正在处理');
        $('#post_form').submit();
    }

    function img_call_back(fileurl_tmp)
    {
      $("#litpic_local").val(fileurl_tmp);
      $("#img_a").attr('href', fileurl_tmp);
      $("#img_i").attr('onmouseover', "layer_tips=layer.tips('<img src="+fileurl_tmp+" class=\\'layer_tips_img\\'>',this,{tips: [1, '#fff']});");
    }
</script>

{include file="public/footer" /}